* {
  margin: 0;
  padding: 0;

}

body {
 
  background-color: black;

 }


  .logostyling1{
    color: #EAC452;
    font-size: 20px;
    font-family: raleway;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: end;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 20px;
}

.navstyling2 {
  background-color: #EAC452;
  padding: 15px;
  font-family: raleway;
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: space-evenly;
      
}
/**Styling to remove the underline from nav buttons - this styling was applied to .navstyling2 but would not work**/ 
.underline {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  }

.home {
  font-family: raleway;
  font-size: 15px;
  padding-top: 20px;
  color: white;
 
}

.hover
{color:dimgray;
}


.flex-display-aside-main {
  display: flex;
  
}
.asidestyling {
  float: left;
  justify-content: left;
  margin: 20px;
  padding-right: 10px;
  padding-top: 300px;
  padding-left: 100px;
  justify-content: center;
  font-family: edwardian script itc;
  font-size: 35px;
  color: white;
}

.main-styling {
  
  float: right;
  justify-content: right;
  margin: 50px;
 }


 .main-styling h2 {
    font-family: raleway;
    font-size: 40px;
    color: white;
    text-align: justify;
 

    
 }

 .main-styling h2 {
  text-align: center;
 }

 .main-styling  {
  font-family: raleway;
  font-size: 25px;
  color: white;
  text-align: justify;


  
}

 .main-styling > video {
 
   width: 600px;
   height: 400px;
   justify-content: center;
   box-sizing: border-box;
   border-color: #EAC452;
   border-style: solid;
   overflow: auto;
   align-items: center;

 }
 
 .footerstyling h2 {

  font-family: raleway;
    font-size: 40px;
    color: white;
    text-align: center;
 }


 .footerstyling h3 {
  font-family: raleway;
    font-size: 40px;
    padding-left: 100px;
    color:white;

    
    text-align: justify;
 }

 .footerstyling a {
  display: flex;
    font-family: raleway;
    font-size: 20px;
    padding-left: 100px;
    color: black;
    font-weight: 300;
    text-decoration-line: none;
    justify-content: space-between;
 
    
 }
 .footerstyling i {
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 20;
 }

#copyright {
     font-family: raleway;
      font-size: 40px;
     padding-left: 100px;
      font-size: medium;
     color: white;
 
 }
 .fa-brands-styling {
    display: flex;
    background-color: #EAC452;
    font-weight: 200;
    justify-content: space-evenly;
     font-size: 20px;
  }

/** CSS Styling For Page 2 of Website Specifications**/

.specifications {
  font-family: raleway;
  font-size: 15px;
  padding-top: 20px;
  color: white;
 
}

.launch1 {
  display: flex;
  font-family: raleway;
  font-size: 35px;
  justify-content: center;
  color: white;
}
.launch2 {
  display: flex;
  font-family: edwardian script itc;
  font-size: 35px;
  justify-content: center;
  color: white;

}

.house-type1 {
  
  font-family: raleway;
  color: white;
}

.container-animation {
    position: relative;
    animation-duration: 2s;
    animation-name: slide;
  
}


@keyframes slide-1 {
  from {margin-left: 100%;
  width: 500px;
}
to {
  margin-left: 0%;
  width: 300px;
}
}
/**
@keyframes slide-2 {
  from {margin-left: 100%;
  width: 500px;
}

to {
  margin-left: 0%;
  width: 300px;
}
}
/**
@keyframes slide-3 {
  from {margin-left: 100%;
  width: 500px;
}

to {
  margin-left: 0%;
  width: 300px;
}
}

@keyframes slide-4 {
  from {margin-left: 100%;
  width: 500px;
}

to {
  margin-left: 0%;
  width: 300px;
}
}

@keyframes slide-5 {
  from {margin-left: 100%;
  width: 500px;
}

to {
  margin-left: 0%;
  width: 300px;
}
}

@keyframes slide-6 {
  from {margin-left: 100%;
  width: 500px;
}

to {
  margin-left: 0%;
  width: 300px;
}
}

/**
.slide-1, .slide-2, .slide-3, .slide-4 {
  display:flex;
  position: absolute;
  width: 200%;
  height: 100px;
}
  



**/


.foot-style-social-media h2 {
  font-family: raleway;
  font-size: 40px;
  color: white;
  text-align: center;

}

.foot-style-social-media h3 {
  font-family: raleway;
  font-size: 40px;
  padding-left: 100px;
  color: white;
  text-align: justify;
}

.foot-style-social-media a {
  display: flex;
  font-family: raleway;
  font-size: 20px;
  padding-left: 100px;
  color: black;
  font-weight: 300;
  text-decoration-line: none;
  justify-content: space-between;
}



#copyright {
    font-family: raleway;
    font-size: 40px;
    padding-left: 100px;
    font-size: medium;
    color: white;
}

.fa-brands-styling {
    padding: 30px;
    display: flex;
    background-color: #EAC452;
    font-weight: 200;
    justify-content: space-evenly;
  }



/**CSS Styling for Page 3 Contact Us**/ 
.contact-us {
  font-family: raleway;
  font-size: 15px;
  padding-top: 20px;
  color: white;
 

}

.google-map {
  display: flex;
  padding-left: 20px;
   border-style: solid;
   width: 1200px;
   height: 500px;
  
}

.form-styling legend  {
  font-family: raleway;
  font-size: 25px;
  color: white;
}

.form-styling p {
  font-family: raleway;
  font-size: 25px;
  color: white;
} 

.table-styling {
  table-layout: fixed;
  font-family: raleway;
  font-size: 20px;
  color: white;
}

.property-details-style label {
 font-family: raleway;
 color: white;
 font-size: 20px;
}

.property-type {
  display: flex;
  justify-content: left;
  font-family: raleway;
  color: white;
  font-size: 20px;
}

#name {
  display: flex;
  color: white;
  font-size: 12px;

}
.contact-information {
  display:flex;
  flex-direction: row;
  font-family: raleway;
  padding-top: 30px;
  color: white;
  font-size: 20px;
}

/**media queires max width of 1200
@media screen and (max-width: 1200px) {
  width: 100%;
  
}/**media query max widht 1024px**/

  /**media queries max width 768px**/
@media screen and (max-width: 800px) {
  .navstyling2 {
    display: flex;
  
   
  }
  }



 /**media queries max with 480px**/
 @media screen and (max-width: 667px) {

 .logostyling1 {
  font-size: 12px;
  float: left;
 }
  
  .navstyling2 {
   font-size: 15px;
   float: left;
 
   display: flex;
   
  


   
  }

  }

 