@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Lato&display=swap');

/**Styleing for 3 pages**/
*{
  margin: 1px;
  padding: 1px;
  overflow: visible;
}

body {
   background-color: Black;
  }

/**CSS styling page1**/

/** Styling of logo **/
  .logostyling1{
    color: #EAC452;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway';
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
     }

/**Styling for Navigational Items and Background **/
.navstyling2 {
  background-color: #EAC452;
  padding-top: 1px;
  padding: 20px;
  font-family: raleway;
  font-size: 20px;
  color: black;
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-evenly;
}

/**Styling to remove the underline from Navigational items **/
.underline {
  text-decoration: none;
  color: black;
  }

/**Add hover to navigational items **/
.hover {
  color: dimgray;
}

 /**Style Home word under navigational bar **/ 
.home {
  font-family: raleway;
  font-size: 10px;
  padding-top: 20px;
  padding-left: 30px;
  color: white;
 }

 /**Positioning of side text **/
.flex-display-aside-main {
  display: flex;
 }

 /**Styling For side text **/
.asidestyling {
  float: left;
  justify-content: left;
  margin: 20px;
  padding-right: 20px;
  padding-top: 150px;
  padding-left: 40px;
  justify-content: center;
  font-family: edwardian script itc;
  font-size: 35px;
  color: white;
}

/**Style heading over main picture**/
.main-styling {
  float: right;
  justify-content: right;
  margin: 30px;
 }

 .video-container {
    display: flex;
    justify-content: center;
    align-items: center;


 }
 .main-styling h2 {
    font-family: raleway;
    font-size: 25px;
    color: white;
    text-align: justify;
  }

 .main-styling h2 {
  text-align: center;
 }

 .main-styling  {
  font-family: raleway;
  font-size: 20px;
  color: white;
  text-align: justify;
}

/**Video Style**/
 .main-styling > video {
  width: 400px;
  height: 300px;
  justify-content: center;
  box-sizing: border-box;
  border-color: #EAC452;
  border-style: solid;
  overflow: auto;
  align-items: center;
 }

 /**Style heading underneath main paragraph**/
 .footerstyling h2 {
    font-family: raleway;
    color: white;
    text-align: center;
     }

/**Style address details under nav bar for social media elements**/
 .footerstyling h3 {
    font-family: raleway;
    padding-left: 30px;
    color:white;
    text-align: justify;
 }

 
 /**Style social media element in nav bar **/
 .footerstyling-target {
    display: flex;
    font-family: raleway;
    font-size: 40px;
    padding: 20px;
    padding-left: 100px;
    color: black;
    font-weight: 200;
    text-decoration-line: none;
    justify-content: space-between;
  } 


  /**Style social media elements in nav bar**/
 .footerstyling i {
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  
 }
 
/**Style copyright**/
#copyright {
    font-family: raleway;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    color: white;
  }
  
/**Nav bar containing social meidal icons**/
 .fa-brands-styling {
    display: flex;
    background-color: #EAC452;
    justify-content: space-evenly;
    
  }

  
/**Style Return To Home Buttom Bottom of Screen**/
#return-home {
  color: black;
  background-color: #EAC452;
  font: Raleway;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;  
}

/** CSS Styling For Page 2 of Website Specifications**/
/**Style Specifications word under navigational bar**/
.specifications {
  font-family: raleway;
  font-size: 10px;
  padding-top: 20px;
  padding-left: 30px;
  color: white;
 }

/**Style H2 heading under Nav bar**/
.launch1 {
  display: flex;
  font-family: raleway;
  justify-content: center;
  color: white;
}

/**Style Second H2 Heading under Nav bar**/
.launch2 {
  display: flex;
  font-family: edwardian script itc;
  justify-content: center;
  color: white;
}
/**Side Heading Styling for House Type The Cherry & The Maple**/
.house-type1 {
  font-family: raleway;
  color: white;
  padding-left: 30px;
}

/**table style for holding images**/
.container-images, .container-images2 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  /* .container-images2 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  } */
/**H2 heading under images**/
.footerstyling h2 {
  font-family: raleway;
  color: white;
  text-align: center;
}

/**Address Details End of Page**/
.foot-style-social-media h3 {
  font-family: raleway;
  padding-left: 30px;
  color: white;
  text-align: justify;
}

/**Style Return To Home Buttom Bottom of Screen**/
#return-home {
  color: black;
  background-color: #EAC452;
  font: Raleway;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;  
}

/**Style copyright**/
#copyright {
  font-family: raleway;
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  color: white;
}

.fa-brands-styling {
  padding: 30px;
  display: flex;
  background-color: #EAC452;
  font-weight: 200;
  justify-content: space-evenly;
}

/**CSS Styling for Page 3 Contact Us**/ 

/**Contact Us word under the navigational bar**/
.contact-us {
  font-family: raleway;
  font-size: 10px;
  padding-top: 20px;
  padding-left: 30px;
  color: white;
}

/**legend containing contact us information**/
.form-styling legend  {
  font-family: raleway;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

/**paragraph to arrange viewing**/
.form-styling p {
  font-family: raleway;
  font-size: 20px;
  color: white;
} 

/**Table for appointment times**/
.table-styling, tr, th, td {
  table-layout: fixed;
  font-family: raleway;
  font-size: 20px;
  color: white;
  border-color: white;
  border: 2px solid white;
 }

 /**Project of Interest choice**/
 .property-details-style {
  font-family: raleway;
  color: white;
  font-size: 20px;
 }
/**
 .property-type {
  display: flex;
  justify-content: left;
  font-family: raleway;
  color: white;
  font-size: 20px;
}
**/

/**Contact Information details to be submitted on Form**/
.contact-information {
  display:flex;
  flex-direction: row;
  font-family: raleway;
  padding-top: 20px;
  color: white;
  font-size: 20px;
}
/**As Above contact details**/
#name {
  display: flex;
  color: white;
  font-size: 20px;
}
 
/**google map styling**/
.google-map {
  display: flex;
  padding-left: 180px;
   border-style: solid;
   width: 1200px;
   height: 500px;
  padding-right: 60px;
  }


/* Media Queries */ 

/* Media Query For Table size */
@media screen and (max-width: 1200px) {
#flex-display-aside-main {
  width: 65%;
  height: 1200px;
  margin: 0 auto;
    }

.asidestyling {
  padding: 30px 0;
  margin: 0;
  }

.home {
  display: none;
    }

.asidestyling {
  display: none;
    }
  }
  
   /* Media Query from 950px and downwards */
@media screen and (max-width: 950px) {

.logostyling1 {
  display: flex;
  justify-content: center;
  font-size: medium;
  padding-left: 5px;
    }

.navstyling2 {
  padding-left: 0px;
  }


.main-styling {
  float: none;
  justify-content: center;
  margin: 0px;
  margin-left: 1px;
  padding-left: 0px;
  }

.main-styling h2 {
  font-size: 20px;
  justify-content: center;
  }

.video-container {
  display: flex;
  padding-left: 30px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  }

/* #menu {
  clear: left;
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  line-height: 25px;
  }  */

.footerstyling h2 {
  font-family: raleway;
  color: white;
  text-align: center;
  font-size: 20px;
  }

.fa-brands-styling {
  padding: 0px;
  display: flex;
  background-color: #EAC452;
  font-weight: 100;
  justify-content: space-evenly;
  width: 100%;
  }

.footerstyling h3 {
  font-family: raleway;
  font-size: 20px;
  padding-left: 5px;
  color:white;
  text-align: justify;
  }

#copyright {
  font-size: 20px;
  padding-left: 5px;
  }

.footerstyling-target {
  padding-left: 10px;
  } 

/* Page 2 media queries */

/**table style for holding images**/
.container-images, .container-images2 {
  width: 100%;
  table-layout: fixed;
    }

.container-images td, .container-images2 td {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px 0; 
}

.container-images img, .container-images2 img {
  width: 100%;
  margin-bottom: 10px;
}

.specifications {
  font-size: 7px;
  justify-self: start;
  padding-left: 5px;
}

.launch1, .launch2 {
  font-size: 15px;
}

.house-type1 {
  padding-left: 5px;
  font-size: 15px;

}

/* Page 3 media queries */

.contact-us {
  font-size: 7px;
  /* margin-right: 2px; */
  /* align-items: start; */
  padding-left: 0px;

}


.form-styling legend {
  text-align: left;
  justify-self: start;
  padding-left: 5px;
  padding-left: 1px;
  padding-right: 1px;
  width: 50%;
  font-size: 20px;
}

/* .form-styling legend  {
  font-family: raleway;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
} */

.style {
  font-size: 15px;
  overflow: hidden;
}

/**paragraph to arrange viewing**/
/* .form-styling p {
  font-family: raleway;
  font-size: 20px;
  color: white;
}  */

.table-styling, tr, th, td {
  table-layout: auto;
  overflow: hidden;
  font-size: 15px;
  
}

/**Table for appointment times**/
/* .table-styling, tr, th, td {
  table-layout: fixed;
  font-family: raleway;
  font-size: 20px;
  color: white;
  border-color: white;
  border: 2px solid white;
 } */





#property_of_interest {
  font-size: 15px;
 }

 #property {

 }

 /**Project of Interest choice**/
 /* .property-details-style {
  font-family: raleway;
  color: white;
  font-size: 20px;
 } */


/**
 .property-type {
  display: flex;
  justify-content: left;
  font-family: raleway;
  color: white;
  font-size: 20px;
}
**/

/**Contact Information details to be submitted on Form**/
/* .contact-information {
  display:flex;
  flex-direction: row;
  font-family: raleway;
  padding-top: 20px;
  color: white;
  font-size: 20px;
} */

.contact-information {
  /* display: table; */
  /* flex-direction: row;  */
  font-size: 15px;
  overflow: hidden;
  width: 100%;
  /* margin-left: 0; */
}

/**As Above contact details**/
/* #name {
  display: flex;
  color: white;
  font-size: 20px;
} */


.fieldset-styling {
  margin: 1px;
  padding: 1px;
  overflow: auto;
  width: 99%;
}




}

