

/**.gridcontainer {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px auto 30px;
  grid-template-areas: header header;
  grid-template-areas: aside main;
  grid-template-areas: footer footer;
  }**/

header {
    grid-area: header;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
   }
.headerstyling {
  background-color: yellow;
}
.asidestyling {
  background-color: blue;
}
 .mainstyling {
  background-color: green;
  }
  .footerstyling {
    background-color: purple;
  } 



/**body {
    background-color: black;
    color: white;

}

.logostyling{
    color: #DDA73B;
    font-family: arial narrow;
    font-weight: 300px;
    display: flex;
    margin: 10px;
    flex-direction: right;
    align-content: right;
    justify-content: end;
}

.navstyling {
    text-decoration: none;
    color: white;
    font-family: calibri;
    font-size: 20px;
    align-content: left;
    align-content: space-between;
    align-content: space-around;
    
   
  }

  .asidestyling {
    color: white;
    font-family: calibri;
  } **/

